{% extends "base.html" %}
{% block content %}
    <div style="border:20px; width:960px; height:500px;background-color: black;margin-left:-220px; border-radius:20px " >
     {% for mv in movies %}

        <img src="" alt="image">
     {% endfor %}

    </div>
    <div style="border:20px; width:1550px; height:1000px;background-color: black;margin-left:-220px; margin-top: 20px; border-style: dashed;border: #FFFFFF " >
        <center><h1 style="color: #FFFFFF;font-family:'Century Schoolbook'" > Latest on plat form</h1></center>
    </div>
{% endblock content %}